fieldset.civicrm-cicero-map-row,
fieldset#edit-time,
fieldset#edit-civicrm-cicero-contact-sync-date-field,
fieldset#edit-frequency-monthly {
  clear: both;
  display: block;
}

fieldset.civicrm-cicero-map-row .form-item,
fieldset#edit-time .form-item,
fieldset#edit-civicrm-cicero-contact-sync-date-field .form-item,
fieldset#edit-frequency-monthly .form-item {
  float: left;
}
fieldset#edit-time .form-item,
fieldset#edit-frequency-monthly .form-item {
  margin-right: 1em;
}
fieldset.civicrm-cicero-map-row .cicero-field-heading {
  margin: 0 0 0 2em;
  width: 12em;
}
fieldset#edit-civicrm-cicero-contact-sync-date-field .cicero-field-heading {
  margin: 0 1em 0 2em;
  width: 16em;
}
